// Toggle open menu
a.icon_drop_menu


// begin header_drop 
.header_drop

	// begin drop_menu 
	.drop_menu

		// begin drop_menu_top 
		.drop_menu_top
			
			a.logo
				img(src="img/logo.png")

			a.icon_close

			.drop_menu_search
				input(placeholder="Поиск по сайту")
				button.btn_search

		// end drop_menu_top 

		// begin drop_menu_bottom 
		.drop_menu_bottom

			// begin grid_drop_menu_grid
			.grid.grid__4.grid_drop_menu_grid
				// Column 1
				.grid__wrapper
					ul.drop_menu_list
						li
							a(href="#") Монеты и цены

							ul.list_round
								li
									a(href="#") Золотые монеты

									ul.list_line
										li
											a(href="#") Инвестиционные
										li
											a(href="#") Памятные

							ul.list_round
								li
									a(href="#") Серебряные монеты

									ul.list_line
										li
											a(href="#") Инвестиционные
										li
											a(href="#") Памятные
						li
							a(href="#") Как купить / продать


				// Column 2
				.grid__wrapper
					ul.drop_menu_list
						li
							a(href="#") Монетарный депозит

							ul.list
								li
									a(href="#") Почему золотые монеты?

									ul.list_line
										li
											a(href="#") Золотой ликбез
										li
											a(href="#") Видео-материалы
										li
											a(href="#") Полезные сведения
										li
											a(href="#") Афоризмы о золоте

								li
									a(href="#") Новости рынка и аналитика

								li 
									a(href="#") Биржевые индексы



				// Column 3
				.grid__wrapper
					ul.drop_menu_list
						li
							a(href="#") Поддержка клиентов:
						li
							a.phone(href="tel: +7 (499) 553-08-82") +7 (499) 553-08-82
						li
							a.phone(href="tel: 8 (800) 555-08-80") 8 (800) 555-08-80
						li
							a(href="mailto: support@zolotoy-zapas.ru") support@zolotoy-zapas.ru

							ul.list
								li 
									a(href="#") Онлайн-чат
								li 
									a(href="#") Оплата и доставка

				// Column 4
				.grid__wrapper

					ul.list
						li
							a(href="#") О компании «Золотой Запас»

							ul.list_line 
								li 
									a(href="#") Наши преимущества
								li 
									a(href="#") Новости компании
								li 
									a(href="#") Контакты и обратная связь

						li
							a(href="#") Правовая информация
						li
							a(href="#") Соглашение о неразглашении


			// end grid_drop_menu_grid


		// end drop_menu_bottom 


	// end drop_menu 


// end header_drop 

