// begin footer 
footer.footer
	.container_center
		// begin footer_counter 
		.footer_counter
			img(src="img/count1.png", alt="")
			img(src="img/count2.png", alt="")
		// end footer_counter 


		// begin grid_footer
		.grid.grid_footer
			.grid__wrapper
				a.logo(href="#")
					img(src="img/logo_dark.png")

				.copy © 2009 – 2017 ООО «Золотой Запас»

				a.footer_jur Правовая информация
				a.footer_privacy Соглашение о конфиденциальности
			.grid__wrapper
				a.phone(href="tel: +7 499 533 08 82") +7 499 533 08 82
				p Москва, Проспект Мира 104, офис 405 (в отделении Банка Глобэкс)
			.grid__wrapper
				ul.list
					li
						a(href="#") Оплата и доставка 
					li
						a(href="#") Вопросы и ответы
					li
						a(href="#") О компании
					li
						a(href="#") Контакты
			.grid__wrapper
				ul.list
					li
						a(href="#") Золотые монеты
					li
						a(href="#") Серебряные монеты
					li
						a(href="#") Прайс-лист
					li
						a(href="#") Как купить или продать
			.grid__wrapper.soc_link
				p Мы в соцсетях:
				a.icon_google(href="#") 
				a.icon_tweet(href="#") 
				a.icon_fb(href="#") 
			.grid__wrapper.soc_link
				p Свяжитесь с нами:
				a.icon_skype(href="#") 
				a.icon_telegram(href="#") 
				a.icon_watsapp(href="#") 
				a.icon_tel(href="#") 
		// end grid_footer

		
// end footer 