head

- var title = "Золотой запас";
- var bodyClass = "";

	meta(charset="UTF-8")
	block title
		title #{title}
	meta(name="keywords" content="")
	meta(name="description" content="")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")

	link(href="css/style.css" rel="stylesheet")

	script(src="js/jquery.js")
	script(src="js/modal.js")
	script(src="js/slick.min.js")
	script(src="js/function.js")
